<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Packages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 align="center">Packages:</h2>
    <div>
        <span th:each="package : ${packageManager.getPackages()}">
            <a th:href="@{'/package/' + ${packageManager.getId(package.getName())}}">
                <button type="button" class="btn btn-outline-secondary py-0" style="font-size: 0.8em;" th:text="${package.getName()}">Package Name</button>
            </a>
        </span>
    </div>
</div>
</body>
</html>
