<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Packages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table">
        <tbody>
        <h2>
            <span th:text="${package.getName()}">Package Name</span>
        </h2>
        <p>
            <span th:each="descriptionLine : ${package.getDescription()}">
                <span th:text="${descriptionLine}">Description</span><br>
            </span>
        </p>
        <p th:if="${package.getDependencies().size() > 0}">
            <h4 th:if="${package.getDependencies().size() > 0}">Dependencies</h4>
            <span th:each="dependency : ${package.getDependencies()}">
                <a th:if="${packageManager.hasPackage(dependency)}" th:href="@{'/package/' + ${packageManager.getId(dependency)}}">
                    <button type="button" class="btn btn-outline-secondary py-0" style="font-size: 0.8em;" th:text="${dependency}">Dependency</button>
                </a>
                <button th:unless="${packageManager.hasPackage(dependency)}" type="button" class="btn btn-outline-secondary py-0 disabled" style="font-size: 0.8em;" th:text="${dependency}">Dependency</button>
            </span>
        </p>
        <p th:if="${package.getReverseDependencies().size() > 0}">
        <h4 th:if="${package.getReverseDependencies().size() > 0}">Reverse Dependencies</h4>
        <span th:each="dependency : ${package.getReverseDependencies()}">
            <a th:if="${packageManager.hasPackage(dependency)}" th:href="@{'/package/' + ${packageManager.getId(dependency)}}">
                <button type="button" class="btn btn-outline-secondary py-0" style="font-size: 0.8em;" th:text="${dependency}">Dependency</button>
            </a>
            <button th:unless="${packageManager.hasPackage(dependency)}" type="button" class="btn btn-outline-secondary py-0 disabled" style="font-size: 0.8em;" th:text="${dependency}">Dependency</button>
        </span>
        </p>
        <p>
            <a href="/">Back to dependency list</a>
        </p>
        </tbody>
    </table>
</div>
</body>
</html>